html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.gradient-background {
  background-image: linear-gradient(180deg, rgba(35,35,35,0.00) 0%, rgba(35,35,35,0.10) 100%);
}

blockquote {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid $grey-300;
  border-radius: 0.25rem;
  
  p {
    //color: $grey;
    font-style: italic;

    &:last-child {
      margin-bottom: 0;
    }
  }

  cite {
    font-style: normal;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-style: 0.875rem;
  }
}

hr {
  background: $grey-200;
  height: 1px;
  border: 0;
  margin: 2rem 0;

  &.tight {
    margin: 1rem 0;
  }
}

.h1-back {
  display: inline-block;
  vertical-align: middle;
  color: $lightGrey;
  margin-right: 0.5rem;

  &:hover {
    color: $darkGrey;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
  }
}

.unbilled-amount {
  border: 1px solid $grey-300;
  border-radius: 1rem;
  padding: 1rem;
}

.small-link {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  color: $grey;
  transition: all 0.15s;
  
  svg {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.15s;
    margin-left: 0.25rem;
  }

  &:hover {
    color: $primary;
    text-decoration: underline;

    svg {
      transform: translateX(0.25rem);
    }
  }



}

.tracker-logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1);
  margin-right: 0.25rem;
}