input:not([type='checkbox']):not([type='file']),
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.6875rem 0.5rem;
  line-height: 1em;
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  margin: 0.5rem 0;
  resize: none;

  &:focus,
  &:active {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba($primary, 0.25),
      0 10px 10px 0 rgba($primary, 0.1);
  }
}

input:not([type='checkbox']):not([type='file']),
select {
  height: 2.75rem;
}

textarea {
  line-height: 1.2em;
}

.react-select {
  /* z-index: 20;
  position: relative; */
  text-align: left;

  input {
    height: auto !important;
    margin: 0 !important;

    &:focus,
    &:active {
      outline: none;
      border: 0;
      box-shadow: none !important;
    }
  }

  .input-block--inline & {
    width: 9rem !important;
  }
}

select[multiple] {
  height: 5.5rem;
}

.input-block {
  position: relative;

  &.noLabel {
    label {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  input:not([type='checkbox']):not([type='file']),
  textarea,
  label,
  select {
    display: block;
    width: 100%;
  }

  &--inline {
    display: inline-block;
    input:not([type='checkbox']):not([type='file']),
    textarea,
    label,
    select,
    .react-select {
      display: inline-block;
      vertical-align: middle;
      width: auto;
    }

    label {
      margin: 0 0.5rem 0 0;
    }
  }

  &--error {
    input:not([type='checkbox']):not([type='file']),
    textarea,
    label,
    select {
      border-color: $red;
      &:focus,
      &:active {
        box-shadow: 0 0 0 3px rgba($red, 0.25);
      }
    }

    span {
      float: right;
      font-size: 0.75rem;
      font-weight: 700;
      color: $red;
    }
  }

  input[type='checkbox'] {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 1;
    opacity: 0;
  }

  input[type='checkbox'] + label {
    padding-left: 1.5rem;
    position: relative;
    min-height: 1.125rem;
    min-width: 1.125rem;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -0.0625rem;
      width: 1.125rem;
      height: 1.125rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
    }
  }

  input[type='checkbox']:checked + label {
    &:before {
      border-color: $primary;
      color: $primary;
      box-shadow: 0 0 0 3px rgba($primary, 0.25),
        0 10px 10px 0 rgba($primary, 0.1);
      background-image: url(../../img/check-solid.svg);
      background-size: 10px 10px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &--error {
    input[type='checkbox'] + label {
      &:before {
        border: 1px solid $red;
      }
    }
  }

  input[type='checkbox'].toggle-switch + label {
    padding-left: 3.5rem;

    @media screen and (min-width: $medium) {
      padding-left: 3rem;
    }

    &:before {
      width: 42px;
      height: 22px;
      border-radius: 11px;
      background: $grey-200;
      position: absolute;
      left: 0;
      border: 0;
      top: -0.35rem;

      @media screen and (min-width: $medium) {
        top: -0.1875rem;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 2px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: $white;
      transition: all 0.1s;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      top: calc(-0.35rem + 2px);

      @media screen and (min-width: $medium) {
        top: calc(-0.1875rem + 2px);
      }
    }
  }

  &--error {
    input[type='checkbox'].toggle-switch + label {
      &:before {
        box-shadow: 0 0 0 3px rgba($red, 0.25), 0px 0px 0px 1px $red;
      }
    }
  }

  input[type='checkbox'].toggle-switch:checked + label {
    &:before {
      background-color: $primary;
      color: $primary;
      box-shadow: none;
      background-image: none;
    }

    &:after {
      left: 22px;
    }
  }

  .react-datepicker-wrapper {
    width: 100%;

    input {
      margin-top: 0;
    }
  }
}

::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}

.icon-button {
  border: none;
  background: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;

  &:active,
  &:focus {
    color: $primary;
  }
}

.input-block {
  .react-datepicker {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border: 0;
    color: $darkGrey;
  }
  .react-datepicker-popper[data-placement^='top']
    .react-datepicker__triangle::before {
    border-top-color: #fff;
  }
  .react-datepicker__header {
    background-color: #fff;
    border-bottom: 0;
    box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.1);

    button {
      border: 0;
      background: transparent;
      padding: 0;
    }

    select {
      margin: 0 2px;
      height: 2rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    color: $darkGrey;
    font-weight: 700;
  }
  .react-datepicker__day-names {
    color: $grey;
    font-weight: 400;
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: $primary;
  }

  .react-datepicker__day--keyboard-selected:hover,
  .react-datepicker__month-text--keyboard-selected:hover,
  .react-datepicker__quarter-text--keyboard-selected:hover,
  .react-datepicker__year-text--keyboard-selected:hover,
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected:hover {
    background-color: $dark;
  }

  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    background-color: $primary;
    font-weight: 700;
    box-shadow: 0 0 0 3px rgba($primary, 0.25);
  }

  .react-datepicker__time-container {
    border-color: $grey-300;
  }

  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item {
    height: auto;
    padding: 8px 10px;
  }

  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item--selected {
    background-color: $primary;
    font-weight: 700;
    box-shadow: 0 0 0 3px rgba($primary, 0.25);
  }
}

.basic-file-select {
  position: relative;
  display: flex;
  align-items: center;
  color: $lightGrey;
  margin: 1.5rem 0 0.5rem;

  &:hover {
    color: $darkGrey;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
  }

  svg {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  label {
    margin: 0;
    color: inherit;
  }
}
