# compiled output
/dist
/node_modules
node_modules
storybook-static

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/documentation
/.aws
.env*
!.env.test
!.env.staging
!.env.production
terraform
.serverless
/s3
/.s3
/docker/s3rver/tmp
/scripts/config.jwt.json
/email-debug.log
.next
/serverless/node_*
/root.key
/root.crt
/apps/api/database/firebase/credential.json
/apps/api/database/firebase/users.json
/fitlink.sql
/jest.sql
/serverless/serverless.js

.ycache

artifacts/app.zip
artifacts/node_modules
