<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523231434158-0kffb5s0ubo9oqucskdh0c6f1vh3mjt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523231434158-0kffb5s0ubo9oqucskdh0c6f1vh3mjt3</string>
	<key>API_KEY</key>
	<string>AIzaSyAxknNyYX4r8y24aKczCozkhuwHrpPsvxo</string>
	<key>GCM_SENDER_ID</key>
	<string>523231434158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bfitcoin</string>
	<key>PROJECT_ID</key>
	<string>bfit-production</string>
	<key>STORAGE_BUCKET</key>
	<string>bfit-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523231434158:ios:e0306c20dc12faeff4243f</string>
</dict>
</plist>
