.avatar-select {
  display: flex;
  position: relative;
  align-items: center;
  margin: 1.5rem 0 0.5rem;

  &__preview {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-color: $grey-200;
    margin-right: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  label {
    margin: 0;
  }

  small {
    cursor: pointer;
  }
}