.rewards {
  margin: 0 -0.5rem;
  .flickity-viewport {
    overflow: visible;
  }
  
  &__wrap {
    padding: 0.5rem;
    width: 100%;

    @media screen and (min-width: $medium) {
      width: 50%;
    }

    @media screen and (min-width: $extraLarge) {
      width: 33.33%;
    }

    @media screen and (min-width: 1600px) {
      width: 25%;
    }

    @media screen and (min-width: $fhd) {
      width: 20%;
    }
  }

  &__add {
    width: 5rem;
    height: 10rem;
    border-radius: 1rem;
    border: 1px solid $grey-300;
    color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;
    cursor: pointer;
    
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    
    &:hover {
      background: $white;
      box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
      border-color: $white;
      color: $grey;
    }
  }
}