.reward {
  padding: 1rem;
  overflow: hidden;
  height: 10rem;
  background: $grey;
  color: $white;
  position: relative;
  z-index: 0;
  //width: 25rem;
  max-width: 100%;
  cursor: pointer;
  
  .card__bottom {
    h3 {
      margin: 0 auto 0 0;
      width: 100%;

      small {
        display: block;
      }
    }
  }

  .card__top {
    h4 {
      margin: 1px 0 0 0.5rem;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  &__expires {
    margin-left: auto;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: right;
    
    small {
      display: block;
      font-weight: 400;
      font-size: 0.75rem;
    }
  }
}

.reward-extra {
  margin-top: -1rem;
  padding: 2rem 1rem 1rem;
  background: $darkGrey;
  color: $white;
  border-radius: 0 0 1rem 1rem;

  *:last-child {
    margin-bottom: 0;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    background: $grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  p {
    font-size: 0.875rem;
  }

  small {
    font-size: 0.75rem;
    text-align: center;
    display: block;
  }
}