.static-table {
  width: 100%;

  &__image {
    width: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    
    &:after {
      content: "";
      display: block;
      padding-top: 75%;
    }
  }

  th {
    text-align: left;
    padding-bottom: 0.5rem;
  }

  td {
    padding: 0.3125rem;
    border-bottom: 1px solid $grey-100;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &--invoice {
    font-size: 0.875rem;

    td {
      /* &:first-child {
        padding-left: 0.3125rem;
      } */

      &:last-child {
        padding-right: 1rem;
      }
    }
  }

  &--billing {
    th {
      padding-left: 0;
    }
    td {
      border-bottom: 0;
    }
  }

  &--roomy {
    td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  tr:last-child {
    td {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .delete-row {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    color: $lightGrey;
    background: transparent;
    display: flex;
    transition: all 0.2s;
    margin-left: auto;
    margin-right: 0;

    svg {
      display: block;
      width: 1rem;
      height: 1rem;
      margin: auto;
    }
    
    &:hover {
      color: $white;
      background: $red;
    }
  }
}